{% extends "base.html" %}
{% block title %}My account{% endblock %}
{% block content %}

<section class="upcoming-appointments">
    <h2>Next appointment</h2>
    <a href="/basicchat">
        <div id="next-appointment" style="border: 1px solid black;">
            <p>location: Test</p>
            <p>doctor: Test</p>
            <p>click to chat about your next appointment</p>
        </div>
    </a>
    
</section>
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <!--Add list of previous reports-->
        </div>
    </div>
</section>



{% endblock %}
    