{% extends "base.html" %}
{% block title %}Consultation Preparation{% endblock %}
{% block js %}
    <script src="{{ url_for('static', filename='request.js') }}"></script>
    <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block content %}

<section class="ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 style="padding-bottom: 10px;">Consultation Preparation</h2>
                <ul class="comment-list" id="messages"></ul>
                <div>
                    <div id="form" align="right">
                        <input class="nhsuk-input" id="message" name="test-name" autofocus placeholder="Type your message here..." autocomplete="off" type="text">

                        <br>
                        <button id="send" class="nhsuk-button"> Send</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
