{% extends "base.html" %}
{% block title %}chat{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='chat.js') }}"></script>{% endblock %}

{% block content %}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <h2 style="padding-bottom: 10px;">Consultation Preparation</h2>
                <ul class="comment-list" id="messages">
                    <li class="comment">
                        <div class="vcard bio">
                            <img src="static/images/hh-logo.jpg" alt="Image placeholder">
                        </div>
                        <div class="comment-body">
                            <p>Hi there would you like to talk about your upcoming appointment?</p>
                        </div>
                    </li>
                </ul>
                <div>
                    <form id="form" align="right"> 
                            <textarea  class="chatbox" id="message" autocomplete="off" autofocus placeholder="message" type="text"></textarea>
                            <br>
                            <button id="send" type="submit" value="send"  class ="sendbtn">send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
