{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block hero %} <div class="nhsuk-hero nhsuk-hero--image nhsuk-hero--image-description" style="background-image: url(/static/images/care-check-checkup.jpg);" data-stellar-background-ratio="1">
	<div class="overlay"></div>
	<div class="container-fluid">
	  <div class="row no-gutters d-flex slider-text align-items-center justify-content-center" data-scrollax-parent="true">
		<div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
			<img class="logo-front" src="/static/images/hh-trans.png">
			<div class="title_h">hearth</div>
			<div class="hm">Health Manager</div>
		</div>
	  </div>
	</div>
  </div>
{% endblock %}

{% block content %}
    
  

  <section class="ftco-section ftco-services">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
		<div class="col-md-7 text-center heading-section ftco-animate">
		  <h2 class="mb-2">Supporting your Health Journey</h2>
		  <span class="subheading">Helping you get the most from your visit to the doctor</span>
		</div>
	  </div>
	  <div class="row">
		<div class="col-md-4 d-flex align-self-stretch ftco-animate">
		  <div class="media block-6 services d-block text-center">
			<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-research"></span></div></div>
			<div class="media-body p-2 mt-3">
			  <h3 class="heading">Be Prepared</h3>
			  <p>We all lead busy lives and when we have to consult with a doctor we often do not have time to prepare. hearth health helps you to be prepared.</p>
			</div>
		  </div>      
		</div>
		<div class="col-md-4 d-flex align-self-stretch ftco-animate">
		  <div class="media block-6 services d-block text-center">
			<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-creativity"></span></div></div>
			<div class="media-body p-2 mt-3">
			  <h3 class="heading">Be Effective</h3>
			  <p>Doctor and Nurses are under a lot of pressure. hearth health helps you to be effective in responding to their questions and getting the most out of the time available.</p>
			</div>
		  </div>    
		</div>
		<div class="col-md-4 d-flex align-self-stretch ftco-animate">
		  <div class="media block-6 services d-block text-center">
			<div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-market"></span></div></div>
			<div class="media-body p-2 mt-3">
			  <h3 class="heading">Be Confident</h3>
			  <p>The ways in which we get health advice is changing all the time. hearth health helps you to prepare for in person, remote or app based consultations.</p>
			</div>
		  </div>      
		</div>
		

    </section>

    {% endblock %}
