{% extends "base.html" %}
{% block title %}report{% endblock %}
{% block content %}

<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <!--Add report items dymanically from report.js-->
            <div id="report" class="col-md-8 ftco-animate fadInUpftco-animated report">
                <h2>Consultation Notes</h2>
                {% for result in results %}
                    
                    <dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      result.title
    </dt>
    <dd class="nhsuk-summary-list__value">
      result.message
    </dd>
  </div>
</dl>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      Sarah Philips
    </dd>
  </div>
</dl>
